openapi: 3.0.3
info:
  title: Cruz Ride Auto — Merchant Notifications API
  version: "1.0.0"
  description: >
    Merchant-side notifications: the feed a merchant sees, its filters and
    counts, marking rows read, and the per-category channel preferences
    behind SMS/email delivery. Merchant portal audience only — every path
    acts on notifications the authenticated merchant owns.

    Built at the owner's explicit request on the same ahead-of-plan footing
    as Bookings and Payouts (see CLAUDE.md's "Recorded product decisions").
    Contract frozen before the code, per the contract-first ritual.

    Two taxonomies, on purpose:

      - `kind` is the feed's four icon/filter groups — hire / money / doc /
        rate — from "Cruz Merchant Notifications.dc.html"'s `KIND` const. It
        drives the filter pills and the row icon.
      - `category` is what a merchant's channel preferences key off — the
        five rows the Settings "Alerts" design shows plus `rating` (the
        design's Alerts matrix has no ratings row even though the feed shows
        rating notifications, so it is added here as a real category).

    The API maps one to the other: booking/return → hire, payout → money,
    review/expiry → doc, rating → rate.

    Channels — in-app is always on and is not a preference. Beyond that, SMS
    and email per the merchant's settings. This is a deliberate extension of
    the 2026-08-24 "SMS is only ever a 2FA challenge" decision, which said
    every non-2FA message goes by email: notifications may now also text,
    subject to preference. Two categories always text regardless —
    `payout` and `review` — and those two also bypass quiet hours. WhatsApp
    is on the design but omitted here: there is no Business API number, and
    a toggle that sends nothing is worse than an absent one.

    Retention — rows are kept 90 days. The daily 10:00 Nairobi sweep purges
    older ones, so the feed footer's "Kept for 90 days" is enforced.

    Delivery note — SMS/email delivery is asynchronous (a BullMQ worker) and
    enqueued only after the transaction that wrote the notification commits.
    A failed send never rolls back the in-app row. Quiet hours are applied
    as a *delay* on the enqueue, never a drop.
  license:
    name: Proprietary — Cruz Ride Auto Limited
servers:
  - url: https://api.cral.co.ke/v1
    description: Production
  - url: https://api.staging.cral.co.ke/v1
    description: Staging
  - url: https://api.sandbox.cral.co.ke/v1
    description: Sandbox

tags:
  - name: notifications
    description: The feed — list, filters, counts, mark-read
  - name: preferences
    description: The category × channel matrix and quiet hours

paths:
  # ---------------------------------------------------------------------
  # Feed
  # ---------------------------------------------------------------------
  /merchant/notifications:
    get:
      tags: [notifications]
      summary: List notifications, newest first, with per-filter counts
      operationId: listNotifications
      parameters:
        - name: cursor
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
        - name: filter
          in: query
          description: >
            `all` and `unread` cut across every kind; the rest each narrow
            to one feed `kind` group.
          schema:
            type: string
            enum: [all, unread, bookings, money, documents, ratings]
            default: all
      responses:
        "200":
          description: Page of notifications for the authenticated merchant
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Notification" }
                  next_cursor: { type: string, nullable: true }
                  has_more: { type: boolean }
                  counts: { $ref: "#/components/schemas/NotificationCounts" }
                  unread:
                    type: integer
                    description: Total unread — also the SideNav badge value
                  urgent:
                    allOf:
                      - $ref: "#/components/schemas/Notification"
                    nullable: true
                    description: >
                      The most recent unread booking request, surfaced as
                      the screen's urgent banner. Null when there is none.

  /merchant/notifications/read-all:
    post:
      tags: [notifications]
      summary: Mark every unread notification read
      operationId: markAllNotificationsRead
      responses:
        "200":
          description: Done
          content:
            application/json:
              schema:
                type: object
                properties:
                  marked: { type: integer, description: How many rows were flipped }
                  unread: { type: integer, description: Always 0 }

  /merchant/notifications/{notificationId}/read:
    parameters:
      - name: notificationId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [notifications]
      summary: Mark one notification read
      operationId: markNotificationRead
      description: >
        Idempotent — re-marking an already-read row is a no-op 200. A row
        that isn't on this merchant's account is a 404.
      responses:
        "200":
          description: Read
          content:
            application/json:
              schema:
                type: object
                properties:
                  unread: { type: integer, description: Total unread after the change }
        "404":
          $ref: "#/components/responses/NotFound"

  # ---------------------------------------------------------------------
  # Preferences
  # ---------------------------------------------------------------------
  /merchant/notification-preferences:
    get:
      tags: [preferences]
      summary: The category × channel matrix and quiet hours
      operationId: getNotificationPreferences
      responses:
        "200":
          description: Preferences, one row per category
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationPreferences" }
    put:
      tags: [preferences]
      summary: Replace the matrix and quiet hours
      operationId: updateNotificationPreferences
      description: >
        A locked channel arriving switched off is rejected with 422
        `channel_locked` rather than silently coerced — the design renders
        the toggle as visibly locked, so clearing it is a client bug worth
        surfacing. `payout` and `review` lock `sms`.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateNotificationPreferences" }
      responses:
        "200":
          description: Saved — the full resolved preferences, as GET returns them
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationPreferences" }
        "422":
          description: A locked channel was switched off, or a bad time value
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  # ---------------------------------------------------------------------
  # Dev-only fixture seeding
  # ---------------------------------------------------------------------
  /merchant/notifications/dev-seed:
    post:
      tags: [notifications]
      summary: Seed the ten design feed fixtures (non-production only)
      operationId: devSeedNotifications
      description: >
        Documented because it is a real route, but guarded by
        `NODE_ENV !== "production"` and absent from the production router —
        the same arrangement as `/merchant/bookings/dev-seed`. Most
        notification sources have no real generator yet (no customer portal,
        no ops console), so this reproduces the ten fixtures from "Cruz
        Merchant Notifications.dc.html" against real seeded subjects so the
        deep links go somewhere. A re-seed replaces the feed rather than
        stacking a second ten.
      responses:
        "201":
          description: Fixtures created
          content:
            application/json:
              schema:
                type: object
                properties:
                  seeded: { type: integer }

components:
  schemas:
    ErrorEnvelope:
      type: object
      properties:
        error:
          type: object
          properties:
            type: { type: string }
            code: { type: string }
            message: { type: string }
            field: { type: string }
            doc_url: { type: string }
            request_id: { type: string }

    NotificationKind:
      type: string
      description: The feed's four icon/filter groups.
      enum: [hire, money, doc, rate]

    NotificationCategory:
      type: string
      description: >
        What channel preferences key off. `booking`/`return` render as the
        `hire` kind, `review`/`expiry` as `doc`, `payout` as `money`,
        `rating` as `rate`.
      enum: [booking, payout, review, expiry, return, rating]

    Notification:
      type: object
      properties:
        id: { type: string, example: ntf_01J8QM4T7Z9K2X0Q7VYB6C3H5D }
        category: { $ref: "#/components/schemas/NotificationCategory" }
        kind: { $ref: "#/components/schemas/NotificationKind" }
        group:
          type: string
          description: The kind's display group — "Bookings" / "Money" / "Documents" / "Ratings"
        icon:
          type: string
          description: The kind's chip glyph — "H" / "KES" / "D" / "★"
        title: { type: string }
        body: { type: string }
        ref:
          type: string
          nullable: true
          description: >
            The plated reference shown on the row, e.g. "CB-2841" /
            "PAY-0918" / "KDL 559X". Null for a merchant-level notice.
        subject_type:
          type: string
          nullable: true
          enum: [booking, vehicle, payout_run, merchant]
        subject_id:
          type: string
          nullable: true
          description: Together with subject_type, the deep-link target. Both null → no CTA.
        occurred_at: { type: string, format: date-time }
        read: { type: boolean }
        cta:
          type: string
          description: >
            CTA label — present only when the row deep-links. "Open booking"
            / "Open vehicle" / "Open payout" / "Open settings", or "Rate
            back" for a rating.
        cta_href:
          type: string
          description: Client-relative path for the CTA, e.g. "/bookings/bkg_…"

    NotificationCounts:
      type: object
      description: One count per filter, for the pill badges.
      properties:
        all: { type: integer }
        unread: { type: integer }
        bookings: { type: integer }
        money: { type: integer }
        documents: { type: integer }
        ratings: { type: integer }

    NotificationPreferenceRow:
      type: object
      properties:
        category: { $ref: "#/components/schemas/NotificationCategory" }
        label: { type: string, description: The Settings row title, e.g. "Payout sent" }
        body: { type: string, description: The Settings row sub-line }
        kind: { $ref: "#/components/schemas/NotificationKind" }
        sms:
          type: boolean
          description: Resolved value — a locked channel always reads true.
        email: { type: boolean }
        locked:
          type: array
          description: Channels that cannot be switched off for this category.
          items: { type: string, enum: [sms, email] }

    QuietHours:
      type: object
      properties:
        enabled: { type: boolean }
        from: { type: string, description: "HH:MM Nairobi wall-clock", example: "22:00" }
        until: { type: string, example: "06:30" }

    NotificationPreferences:
      type: object
      properties:
        categories:
          type: array
          items: { $ref: "#/components/schemas/NotificationPreferenceRow" }
        quiet_hours: { $ref: "#/components/schemas/QuietHours" }

    UpdateNotificationPreferences:
      type: object
      required: [categories, quiet_hours]
      properties:
        categories:
          type: array
          minItems: 1
          items:
            type: object
            required: [category, sms, email]
            properties:
              category: { $ref: "#/components/schemas/NotificationCategory" }
              sms: { type: boolean }
              email: { type: boolean }
        quiet_hours:
          type: object
          required: [enabled, from, until]
          properties:
            enabled: { type: boolean }
            from:
              type: string
              nullable: true
              pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"
            until:
              type: string
              nullable: true
              pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"

  responses:
    NotFound:
      description: No such notification for this merchant
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
