openapi: 3.0.3
info:
  title: Cruz Ride Auto — Merchant Settings API
  version: "1.0.0"
  description: >
    The merchant's own account profile, read and written after onboarding —
    the Settings → Business tab of the merchant portal. A different audience
    and lifecycle from onboarding (`merchant-onboarding.yaml`), which is a
    one-time wizard gated on completeness; this is a small, always-editable
    surface, so it gets its own file.

    Built at the owner's explicit request alongside the rest of the Settings
    screen (see CLAUDE.md's "Recorded product decisions"). Contract frozen
    before the code, per the contract-first ritual.

    Scope notes, all deliberate:

    - **County is not here.** `merchants.county` was dropped on 2026-08-31 —
      the location a hirer cares about is the vehicle's, not the merchant's
      home county. The design predates that; the field is omitted.
    - **Business type is the existing two-value `owner_type` axis**
      (`individual`/`company`), relabelled "Sole proprietor" / "Limited
      company" in the UI. The design's third option, "Partnership", is
      dropped rather than adding a field that gates nothing.
    - **A phone change routes through the same path onboarding uses** — it
      is normalised to E.164 and clears `phone_verified`, so the payout
      phone-verification gate (spec §10) still applies. A duplicate phone
      returns `phone_taken` (409), same as onboarding.
    - **Login email is read-only here.** Changing the sign-in address is a
      separate security flow; this endpoint only writes `company_email` (the
      booking-contact address for company merchants).
    - **The Business tab mirrors onboarding's "Your details" step** — the
      same fields, so nothing new is asked for after onboarding. For an
      individual it is labelled "My profile" in the UI.
    - **Payouts is editable** (`PUT /merchant/payout-settings`). There is
      still **no payment rail** — nothing disburses money — so the bank
      details and the long-booking `schedule` are collected and stored,
      not acted on. `method: mpesa` is **rejected for company merchants**
      (they are paid to a bank account in the company name, the same rule
      onboarding enforces).
    - **The People / team-roles tab is not built** — it is a multi-user
      authorization feature, deferred to its own phase.
  license:
    name: Proprietary — Cruz Ride Auto Limited
servers:
  - url: https://api.cral.co.ke/v1
    description: Production
  - url: https://api.staging.cral.co.ke/v1
    description: Staging
  - url: https://api.sandbox.cral.co.ke/v1
    description: Sandbox

tags:
  - name: profile
    description: The merchant's business profile — the name hirers see, contact details, type

paths:
  /merchant/profile:
    get:
      tags: [profile]
      summary: The merchant's editable profile plus the read-only account state the Settings header shows
      operationId: getMerchantProfile
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MerchantProfile" }

    patch:
      tags: [profile]
      summary: Update the profile directly. Only allowed *before* onboarding is submitted.
      operationId: patchMerchantProfile
      security: [{ bearerAuth: [] }]
      description: >
        Once `profile_locked` is true (onboarding submitted), this returns
        409 `profile_locked` - use POST /merchant/profile/change-request
        instead, which captures the edit for admin review.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MerchantProfilePatch" }
      responses:
        "200":
          description: Updated - the full profile, same shape as GET
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MerchantProfile" }
        "409":
          description: profile_locked (submitted) | phone_taken
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
        "422":
          description: invalid_phone
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  /merchant/profile/change-request:
    get:
      tags: [profile]
      summary: The merchant's open profile change request, or null
      operationId: getProfileChangeRequest
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: The pending request or null
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: "#/components/schemas/ProfileChangeRequest" }
                  - { type: "null" }
    post:
      tags: [profile]
      summary: Ask for locked profile fields to be changed - goes to admin review
      operationId: requestProfileChange
      security: [{ bearerAuth: [] }]
      description: >
        Body is the same shape as PATCH; only fields that differ from
        what's on file are recorded. Replaces any existing pending request.
        Nothing on `merchants` moves until an admin approves it, at which
        point the account goes back to review (`approved_at` -> null).
        There is no admin portal yet - approval runs from
        `apps/api/src/scripts/review-profile-change.ts`.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MerchantProfilePatch" }
      responses:
        "201":
          description: Request captured
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProfileChangeRequest" }
        "422":
          description: no_changes | invalid_phone
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    delete:
      tags: [profile]
      summary: Withdraw the pending change request
      operationId: withdrawProfileChangeRequest
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Withdrawn }
        "404": { $ref: "#/components/responses/NotFound" }

  /merchant/payout-settings:
    get:
      tags: [profile]
      summary: The merchant's payout block (also embedded in GET /merchant/profile)
      operationId: getPayoutSettings
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Payout settings
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PayoutSettings" }

    put:
      tags: [profile]
      summary: Replace the payout block. Company merchants cannot select M-Pesa.
      operationId: updatePayoutSettings
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PayoutSettingsInput" }
      responses:
        "200":
          description: Updated payout block
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PayoutSettings" }
        "422":
          description: mpesa_not_allowed_for_company, or invalid_phone
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }

components:
  schemas:
    ErrorEnvelope:
      type: object
      properties:
        error:
          type: object
          properties:
            type: { type: string }
            code: { type: string }
            message: { type: string }
            field: { type: string }
            doc_url: { type: string }
            request_id: { type: string }

    OwnerType:
      type: string
      description: Relabelled "Sole proprietor" / "Limited company" in the UI.
      enum: [individual, company]

    MerchantProfile:
      type: object
      properties:
        owner_type: { $ref: "#/components/schemas/OwnerType" }
        trading_name: { type: string, nullable: true }
        company_name: { type: string, nullable: true }
        company_cert_no: { type: string, nullable: true, description: Certificate of incorporation number }
        company_kra: { type: string, nullable: true }
        company_email: { type: string, nullable: true }
        company_address: { type: string, nullable: true }
        first_name: { type: string, nullable: true }
        middle_name: { type: string, nullable: true }
        surname: { type: string, nullable: true }
        kra_pin: { type: string, nullable: true }
        national_id: { type: string, nullable: true }
        payout: { $ref: "#/components/schemas/PayoutSettings" }
        # From the users row — read-only on this surface.
        email: { type: string, description: The sign-in email. Read-only here. }
        phone:
          type: string
          nullable: true
          description: E.164, or null. Writable via PATCH; a change clears phone_verified.
        phone_verified: { type: boolean }
        account_status:
          type: string
          enum: [active, suspended, pending_deletion, deleted]
          description: See the 20260903100000 migration. `suspended` blocks sign-in.
        deletion_scheduled_at:
          type: string
          format: date-time
          nullable: true
          description: Set only while `account_status` is `pending_deletion` — the 30-day purge instant.
        # Account-level state the Settings header renders. Nothing sets
        # approved_at yet (no admin portal), so it is genuinely nullable and
        # the "VERIFIED" chip must reflect that, not decorate.
        approved_at: { type: string, format: date-time, nullable: true }
        member_since: { type: string, format: date-time, description: merchants.created_at }
        profile_locked:
          type: boolean
          description: True once onboarding is submitted - edits then go through change-request review.
        pending_change:
          nullable: true
          allOf: [{ $ref: "#/components/schemas/ProfileChangeRequest" }]
        # Read-only account-level documents (Business documents card).
        documents:
          type: array
          items: { $ref: "#/components/schemas/ProfileDocument" }

    ProfileDocument:
      type: object
      properties:
        kind: { type: string, enum: [national_id, kra_pin] }
        label: { type: string }
        review_state: { type: string, enum: [ok, pending, expiring, rejected] }
        uploaded_at: { type: string, format: date-time, nullable: true }
        document_id: { type: string, nullable: true }

    PayoutSettings:
      type: object
      description: >
        The payout block. `mpesa_number` is **always** the account phone
        (`users.phone`) — there is no separate field; to change it, change
        the phone on the profile. `mpesa_number_verified` mirrors
        `users.phone_verified`. `schedule` is always `monthly` when
        `method` is `bank`. Nothing disburses against any of this yet —
        there is no payment rail.
      properties:
        method: { type: string, enum: [mpesa, bank] }
        schedule:
          type: string
          enum: [weekly, monthly]
          description: Long-booking instalment rhythm — stored, not acted on. Forced to `monthly` for bank.
        mpesa_number: { type: string, nullable: true, description: Always the account phone }
        mpesa_number_verified: { type: boolean }
        mpesa_name: { type: string, nullable: true, description: "\"Name on the M-Pesa line\"" }
        bank_name: { type: string, nullable: true }
        bank_branch: { type: string, nullable: true }
        bank_account_name: { type: string, nullable: true }
        bank_account_number: { type: string, nullable: true }

    PayoutSettingsInput:
      type: object
      additionalProperties: false
      required: [method, schedule]
      properties:
        method:
          type: string
          enum: [mpesa, bank]
          description: "`mpesa` is rejected (422) for company merchants"
        schedule:
          type: string
          enum: [weekly, monthly]
          description: Ignored (forced to `monthly`) when method is `bank`
        mpesa_name: { type: string, maxLength: 200 }
        bank_name: { type: string }
        bank_branch: { type: string }
        bank_account_name: { type: string }
        bank_account_number: { type: string }

    MerchantProfilePatch:
      type: object
      description: Every field optional. Unknown fields are rejected.
      additionalProperties: false
      properties:
        owner_type: { $ref: "#/components/schemas/OwnerType" }
        trading_name: { type: string, maxLength: 200 }
        company_name: { type: string }
        company_cert_no: { type: string }
        company_kra: { type: string }
        company_email: { type: string, format: email }
        company_address: { type: string }
        first_name: { type: string }
        middle_name: { type: string }
        surname: { type: string }
        kra_pin: { type: string }
        national_id: { type: string }
        phone: { type: string, description: Kenyan number; normalised to E.164 server-side }

    ProfileChangeRequest:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [pending, approved, rejected] }
        changes:
          type: object
          additionalProperties: true
          description: The fields the merchant asked to change, `{ field: newValue }`.
        reviewer_note: { type: string, nullable: true }
        submitted_at: { type: string, format: date-time }
        decided_at: { type: string, format: date-time, nullable: true }

  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
